__pycache__/
.env
*.db
*.sqlite3
instance/
.DS_Store
.vscode/
*.swp
flask_session/
static/profile_photos/*
!static/profile_photos/
!static/profile_photos/user_photos/
!static/profile_photos/worker_photos/
!static/profile_photos/default_profile.jpg

scripts/